* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  gap: 1ch;
}

@media (width >= 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

h1 {
  margin: 0px 0px 10px;
}
